<p>reactive-form works!</p>
<form [formGroup]="myForm">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name">
    <br/>
    <label for="hp">HP</label>
    <input type="number" formControlName="hp" id="hp">
    <p *ngIf="myForm.controls.hp.errors && myForm.controls.hp.touched">
        Invalid HP
    </p>

    <br/>
<button type="submit" (click)="submitForm()">submit</button>
<!-- need to make some css changes on submit or something -->
<p [hidden]="!submitted">Submitted!</p>
</form>